{% comment %} # Name : Imtiaz Adar
# Project : User Authentication And Adding Users
# Language : Python
# Framework : Django
# Phone : 01778767775, 01979777379
# Email : imtiazadarofficial@gmail.com {% endcomment %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>USER AUTHENTICATION AND ADD INFORMATION - IMTIAZ ADAR</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap" rel="stylesheet">
</head> 
<body>

    <div class="container">
        <div class="p-3 mb-2 bg-secondary text-light"><h1>VIEW ALL USER'S INFORMATION - IMTIAZ ADAR</h1></div>
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-primary" role="alert">
                {{message}}
            </div>
            {% endfor %}
        {% endif %}
        <div>
            <a href="{% url 'addinformation' %}" class="btn btn-warning btn-lg" role="button" aria-pressed="true">Add Information</a>    
            <a href="{% url 'logout' %}" class="btn btn-danger btn-lg" role="button" aria-pressed="true">Logout</a>    
        </div>
        {% for items in whole_info %}
            <strong>Name: {{items.fullname}} </strong></br>
            Age: {{items.age}}</br>
            Current Location: {{items.current_location}}</br>
            Hometown: {{items.hometown_location}}</br>
            Hobby: {{items.hobby}}</br>
            Experience: {{items.experience}}</br>
            <hr><hr>


        {% endfor %}
    </div>
</body>
</html>